@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success">Welcome To The Homepage</h1>
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
   <p>Take time to explore this CRUD Application developed with ASP.NET Core. Cheers!</p>
</div>
